<% include ./partial/navbar-logged-in %>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary btn-lg" style="position: fixed;" data-toggle="modal" data-target="#new-metaphor-modal">New Metaphor</button>
        </div>
        <div class="col-md-8">
            <% include ./partial/messages %>
            <div id="metaphor-container">
                <% include ./partial/metaphor-template %>
            </div>
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
</div>