<% include ./partial/navbar-logged-in %>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary btn-lg" style="position: fixed;" data-toggle="modal" data-target="#new-metaphor-modal">New Metaphor</button>
        </div>
        <div class="col-md-8">
            <% include ./partial/messages %>
            <div id="metaphor-container">
                <% include ./partial/metaphor-template %>
            </div>
        </div>
        <div class="col-md-2">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa fugit reprehenderit quos nobis nostrum enim neque labore id doloribus. Nemo architecto iusto ipsam distinctio temporibus sunt molestias tempore culpa similique.</p>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="logout-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document" >
        <div class="modal-content p-3">
            <div class="modal-header p-0 pb-2">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to logout?</h5>
            </div>
            <div class="modal-footer mx-auto pb-0">
                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-logout" onclick="logout();">Logout</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="new-metaphor-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                <div class="form-group">
                    <label class="col-form-label">Metaphor:</label>
                    <textarea class="form-control" id="text"></textarea>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Explanation:</label>
                    <textarea class="form-control" id="explanation"></textarea>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="postMetaphor();">Post</button>
            </div>
        </div>
    </div>
</div>