<% include ./partial/navbar-logged-in %>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary btn-lg" style="position: fixed;">New Metaphor</button>
        </div>
        <div class="col-md-8">
            <% include ./partial/messages %>
            <div id="metaphor-container">
                <% include ./partial/metaphor-template %>
            </div>
        </div>
        <div class="col-md-2">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa fugit reprehenderit quos nobis nostrum enim neque labore id doloribus. Nemo architecto iusto ipsam distinctio temporibus sunt molestias tempore culpa similique.</p>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="logout-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document" >
        <div class="modal-content p-3">
            <div class="modal-header p-0 pb-2">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to logout?</h5>
            </div>
            <div class="modal-footer mx-auto pb-0">
                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-primary" href="/users/logout">Logout</a>
            </div>
        </div>
    </div>
</div>