<% include ./partial/navbar-logged-in %>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary btn-lg" style="position: fixed;" data-toggle="modal" data-target="#new-metaphor-modal">New Metaphor</button>
        </div>
        <div class="col-md-8">
            
            <div class="container mb-4">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <span class="navbar-brand">My Profile</span>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <% if (display == "posts") { %>
                                <a class="nav-item nav-link active" href="/myprofile">Posts</a>
                                <a class="nav-item nav-link" href="/myprofile/likes">Likes</a>
                            <% } %>
                            <% if (display == "likes") { %>
                                <a class="nav-item nav-link" href="/myprofile">Posts</a>
                                <a class="nav-item nav-link active" href="/myprofile/likes">Likes</a>
                            <% } %>
                        </div>
                    </div>
                </nav>
            </div>

            <% include ./partial/messages %>
            <div id="metaphor-container">
                <% include ./partial/metaphor-template %>
            </div>

        </div>
        <div class="col-md-2">
            
        </div>
    </div>
</div>