<nav class="navbar navbar-expand-md fixed-top bg-light">
  <div class="container">
    <div class="col-md-4">
      <h3 class="text-left"><a class="text-primary" style="text-decoration: none" href="/">Metaphorically Speaking</a></h1>
    </div>

    <div class="col-md-4 d-flex" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 mx-auto">
          <input class="form-control" style="width: 200px" type="search" placeholder="Search for a metaphor">
          <button class="btn btn-outline-primary my-2 my-sm-0 ml-sm-2" type="submit">Search</button>
        </form>
    </div>
    
    <div class="col-md-4 d-flex">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item px-2">
          <a class="btn btn-primary btn-block mb-2" href="/users/register">Sign Up<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item px-2">
          <a class="btn btn-secondary btn-block" href="/users/login">Login</a>
      </ul>
    </div>
  </div> <!-- container -->
</nav> <!-- navbar -->

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
  <% include ./partial/messages %>

      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>