<% include ./partial/navbar %>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa fugit reprehenderit quos nobis nostrum enim neque labore id doloribus. Nemo architecto iusto ipsam distinctio temporibus sunt molestias tempore culpa similique.</p>
    </div>
    <div class="col-md-8">
      <% include ./partial/messages %>
      <div id="metaphor-container">
        <span class="d-flex mb-3">
            <h4 class="ml-1 my-auto">Search: <%= search %></h4>   
        </span>
               
          <% include ./partial/metaphor-template %>
      </div>
    </div>
    <div class="col-md-2">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa fugit reprehenderit quos nobis nostrum enim neque labore id doloribus. Nemo architecto iusto ipsam distinctio temporibus sunt molestias tempore culpa similique.</p>
    </div>
  </div>
</div>