<% include ./partial/navbar-logged-out %>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      
    </div>
    <div class="col-md-8">
      <% include ./partial/messages %>
      <div id="metaphor-container">
        <% include ./partial/metaphor-template %>
      </div>
    </div>
    <div class="col-md-2">
      
    </div>
  </div>
</div>