<div class="card text-center mb-5">
    <div class="card-body">
        <h3 class="card-title text-left">"Metapor will go here"</h3>
        <p class="card-text text-left">This is where the explanation of the metaphor will go once I learn more about templating.</p>
    </div>
    <div class="card-footer text-muted">
      <span class="text-right">Posted 2 days ago by <a href="#">author</a></span>
    </div>
</div>