<nav class="navbar navbar-expand-md fixed-top bg-light">
    <div class="container">
        <div class="col-md-4">
            <h3 class="text-left"><a class="text-primary" style="text-decoration: none" href="/dashboard">Metaphorically Speaking</a></h3>
        </div>

        <div class="col-md-4 d-flex" id="navbarSupportedContent">
            
                <% if (page == "searchresults") { %>
                    <form id="search-form" class="form-inline my-2 my-lg-0 mx-auto">

                        <button type="button" class="btn btn-outline-secondary search-return-btn pt-0 pb-1 px-2 mr-2" onclick="goback();"><h3 class="m-0">&larr;</h3></button>

                        <input class="form-control" style="width: 200px" type="search" id="search-string" placeholder="Search for a metaphor" value="<%= search %>">
                        
                        <input type="submit" class="btn btn-outline-primary my-2 my-sm-0 ml-sm-2" value="Search">

                    </form>
                <% } else { %>
                    <form id="search-form" class="form-inline my-2 my-lg-0 mx-auto">

                        <input class="form-control" style="width: 200px" type="search" id="search-string" placeholder="Search for a metaphor">
                        <input type="submit" class="btn btn-outline-primary my-2 my-sm-0 ml-sm-2" value="Search">

                    </form>
                <% } %>
            
        </div>
        
        <div class="col-md-4 d-flex">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item px-2">
                    <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            <%= name %>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/dashboard">Home</a>
                            <a class="dropdown-item" href="/myprofile">My Profile</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="#">Help</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item px-2">
                    <button class="btn btn-primary btn-block mb-2" data-toggle="modal" data-target="#logout-modal">Logout</button>
                </li>
            </ul>
        </div>
    </div> <!-- container -->
</nav> <!-- navbar -->

