<div class="modal fade" id="settings-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-primary">User Settings</h3>
                <button type="button" class="close" id="x-settings-button">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="settings-warning-text" class="text-warning"></p>
                <p id="settings-success-text" class="text-success"></p>
                <form>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-form-label"><h4>Name</h4></label>
                            <input class="md-textarea form-control new-metaphor-textarea" id="name-field" name="name" placeholder="Enter name" disabled></input>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label"><h4>Username</h4></label>
                            <input class="md-textarea form-control new-metaphor-textarea" id="username-field" name="username" placeholder="Enter username" disabled></input>
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="col-form-label"><h4>Email</h4></label>
                            <input class="md-textarea form-control new-metaphor-textarea" id="email-field" name="email" placeholder="Enter email" disabled></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close-settings-button" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" id="cancel-edit-button">Cancel</button>
                <button type="button" class="btn btn-primary" id="edit-settings-button">Edit</button>
                <button type="button" class="btn btn-primary" id="save-settings-button">Save changes</button>
            </div>
        </div>  
    </div>
</div>

